@charset "UTF-8";
/* 共通スタイル */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 200;
}
p {
  color: #5b5b5b;
  font-size: 1.1rem;
  line-height: 27px;
  font-weight: 500;
}

/* コンテナ */
.container {
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
}

/* ナビゲーション */
.c-header {
  background-color: #F28C0F;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  width: 100%;
  align-items: flex-end;
}
.c-header__logo {
  color: #000;
  text-decoration: none;
  width: 270px;
}
.c-header__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.c-header__list-item {
  list-style: none;
  text-decoration: none;
  margin-bottom: 1.2rem;
}
.c-header__list-link {
  font-family: "Archivo Black", sans-serif !important;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  padding: 0.7rem !important;
}
.c-header__list-link:hover {
  filter: opacity(0.6);
}

/* ハンバーガーメニュー */
.c-hamburger-menu {
  position: relative;
}
.c-hamburger-menu__input {
  display: none;
}
.c-hamburger-menu__bg {
  background-color: #000;
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

/* その他の共通スタイル */
.hero {
  background-image: url("../images/top1.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.school {
  display: flex;
  justify-content: center;
  background-color: #f28c0f;
  align-items: center;
  padding: 10px;
}
.school-tag {
  margin-right: 30px;
}

/* --- レスポンシブ対応 --- */
/* デスクトップサイズ以上 */
@media (min-width: 768px) {
  .course-wrapper {
    flex-direction: column;
  }
  .box {
    flex-direction: row;
    align-items: center;
  }
  .box .text, .box .pict {
    width: 50%;
  }
  .box:nth-child(2) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 750px) {
  .c-hamburger-menu__list {
    background-color: #f28c0ff2;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem;
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
  }
  .c-hamburger-menu__button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 32px;
    justify-content: center;
    width: 32px;
  }
  .school {
    display: block;
  }
}

@media (max-width: 430px) {
  .school img {
    width: 300px;
  }
  .school-tag {
    margin: 15px 0px 20px;
  }
}
